In [1]:
import pandas as pd
import os

In [2]:
file_1 = os.path.join('HeroesOfPymoli','purchase_data.json')
file_2 = os.path.join('HeroesOfPymoli','purchase_data2.json')
df_1 = pd.read_json(file_1)
df_2 = pd.read_json(file_2)
df = df_1.append(df_2,ignore_index=True)

In [3]:
player_count = len(df['SN'].unique())
pd.set_option("display.colheader_justify","left")
pd.DataFrame({'Total Players':[player_count]}).style.set_properties(**{'text-align': 'left'})

In [4]:
item_count = len(df['Item Name'].unique())
average_price = '${:,.2f}'.format(df['Price'].mean())
purchase_count = df['Item Name'].count()
revenue = '${:,.2f}'.format(df['Price'].sum())
pd.DataFrame([[item_count,average_price,purchase_count,revenue]],
             columns=['Number of Unique Items',
                      'Average Purchase Price',
                      'Total Number of Purchases',
                      'Total Revenue']).style.set_properties(**{'text-align': 'left'})

In [5]:
unique_df = df.drop_duplicates(['SN'])
gender_df = pd.DataFrame(unique_df['Gender'].value_counts())
gender_df.rename(columns = {'Gender':'Total Count'},inplace=True)
gender_total = gender_df['Total Count'].sum()
gender_df['Percentage of Players'] = (gender_df['Total Count'] / gender_total * 100).apply('{:,.2f}'.format)
gender_df = gender_df[['Percentage of Players','Total Count']]
gender_df.style.set_properties(**{'text-align': 'left'})

In [6]:
column_name = {'count':'Purchase Count','mean':'Average Purchase Price','sum':'Total Purchase Value'}
purchase_df = df.groupby(['Gender']).agg({'Gender':'count','Price':['mean','sum']}).rename(columns = column_name)
purchase_df.columns = purchase_df.columns.droplevel(0)
purchase_df['Normazlied Totals'] = (purchase_df['Total Purchase Value'] / gender_df['Total Count']).apply('${:,.2f}'.format)
purchase_df['Average Purchase Price'] = purchase_df['Average Purchase Price']
purchase_df['Total Purchase Value'] = purchase_df['Total Purchase Value'].apply('${:,.2f}'.format)
purchase_df.style.set_properties(**{'text-align': 'left'})

In [7]:
bins = [0,9,14,19,24,29,34,39,100]
group_name = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_df = pd.cut(df['Age'],bins,labels = group_name)
df['Age group'] = age_df
age_group_count = df['Age group'].value_counts()

In [8]:
age_df = df.groupby(['Age group']).agg({'SN':'count','Price':['mean','sum']}).rename(columns = column_name)
age_df.columns = age_df.columns.droplevel(0)
age_df['Normalized Totals'] = (age_df['Total Purchase Value'] / age_group_count).apply('${:,.2f}'.format)
age_df['Average Purchase Price'] = age_df['Average Purchase Price'].apply('${:,.2f}'.format)
age_df['Total Purchase Value'] = age_df['Total Purchase Value'].apply('${:,.2f}'.format)
age_df.style.set_properties(**{'text-align': 'left'})

In [9]:
top_spender_df = df.groupby(['SN']).agg({'SN':'count','Price':['mean','sum']}).rename(columns = column_name)
top_spender_df.columns = top_spender_df.columns.droplevel(0)
top_spender_df = top_spender_df.nlargest(5,'Total Purchase Value')
top_spender_df['Average Purchase Price'] = top_spender_df['Average Purchase Price'].apply('${:,.2f}'.format)
top_spender_df['Total Purchase Value'] = top_spender_df['Total Purchase Value'].apply('${:,.2f}'.format)
top_spender_df.style.set_properties(**{'text-align': 'left'})

In [10]:
column_name = {'count':'Purchase Count','min':'Item Price','sum':'Total Purchase Value'}
popular_df = df.groupby(['Item ID','Item Name']).agg({'Item ID':'count','Price':['min','sum']}).rename(columns = column_name)
popular_df.columns = popular_df.columns.droplevel(0)
popular_df = popular_df.nlargest(5,'Purchase Count')
popular_df['Item Price'] = popular_df['Item Price'].apply('${:,.2f}'.format)
popular_df['Total Purchase Value'] = popular_df['Total Purchase Value'].apply('${:,.2f}'.format)
popular_df.style.set_properties(**{'text-align': 'left'})

In [11]:
column_name = {'count':'Purchase Count','min':'Item Price','sum':'Total Purchase Value'}
popular_df = df.groupby(['Item ID','Item Name']).agg({'Item ID':'count','Price':['min','sum']}).rename(columns = column_name)
popular_df.columns = popular_df.columns.droplevel(0)
popular_df = popular_df.nlargest(5,'Total Purchase Value')
popular_df['Item Price'] = popular_df['Item Price'].apply('${:,.2f}'.format)
popular_df['Total Purchase Value'] = popular_df['Total Purchase Value'].apply('${:,.2f}'.format)
popular_df.style.set_properties(**{'text-align': 'left'})