In [22]:
import pandas as pd
import os
import numpy as np

In [50]:
np.linspace(0,100,4)

array([   0.        ,   33.33333333,   66.66666667,  100.        ])

In [3]:
file_1 = os.path.join('HeroesOfPymoli','purchase_data.json')
file_2 = os.path.join('HeroesOfPymoli','purchase_data2.json')
df_1 = pd.read_json(file_1)
df_2 = pd.read_json(file_2)
df = df_1.append(df_2,ignore_index=True)

In [21]:
player_count = df['SN'].nunique()
player_count
df.rename(columns = lambda x: x+'test')

,Agetest,Gendertest,Item IDtest,Item Nametest,Pricetest,SNtest
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
828,25,Male,84,Arcane Gem,4.81,Eusty71
829,20,Male,14,Possessed Core,2.82,Frichilsa31
830,23,Male,176,Relentless Iron Skewer,2.12,Filon68
831,28,Male,1,Crucifer,3.67,Palyon91
832,23,Female,118,"Ghost Reaver, Longsword of Magic",2.95,Assistast50
833,16,Female,94,Mourning Blade,3.64,Seostylis96
834,25,Male,111,Misery's End,1.79,Iskadar31
835,20,Male,108,"Extraction, Quickblade Of Trembling Hands",2.26,Pheodaisun84
836,17,Male,79,"Alpha, Oath of Zeal",1.31,Yarmol79
837,23,Female,107,"Splitter, Foe Of Subtlety",4.15,Aeri79
838,30,Female,105,Hailstorm Shadowsteel Scythe,1.02,Undosian34
839,39,Female,2,Verdict,2.65,Aesririam61
840,23,Female,68,"Storm-Weaver, Slayer of Inception",4.39,Firon67
841,21,Male,31,Trickster,4.59,Jiskjask76
842,18,Male,25,Hero Cane,4.78,Chanirra64
843,11,Female,41,Orbit,3.85,Isristira52
844,24,Male,164,Exiled Doomblade,1.31,Chaniman66
845,23,Male,181,Reaper's Toll,4.12,Yarithrgue83
846,24,Male,4,Bloodlord's Fetish,1.91,Airi27
847,22,Male,94,Mourning Blade,3.64,Undilsan50
848,21,Male,82,Nirvana,1.77,Aidaira26
849,34,Male,126,Exiled Mithril Longsword,1.08,Chamalo71
850,25,Male,98,"Deadline, Voice Of Subtlety",1.29,Undadar97
851,25,Male,60,Wolf,2.70,Sundaky74
852,21,Male,180,Stormcaller,2.77,Lisirra44
853,35,Male,93,Apocalyptic Battlescythe,4.49,Chamast86
854,38,Male,163,Thunderfury Scimitar,4.16,Ardcil81
855,15,Male,167,"Malice, Legacy of the Queen",3.25,Heudai45
856,24,Male,97,"Swan Song, Gouger Of Terror",1.92,Chaniman66
857,20,Male,134,Undead Crusader,2.15,Syalallodil59

In [4]:
item_count = len(df['Item Name'].unique())
average_price = '${:,.2f}'.format(df['Price'].mean())
purchase_count = df['Item Name'].count()
revenue = '${:,.2f}'.format(df['Price'].sum())
pd.DataFrame([[item_count,average_price,purchase_count,revenue]],
             columns=['Number of Unique Items',
                      'Average Purchase Price',
                      'Total Number of Purchases',
                      'Total Revenue'])

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,180,$2.93,858,"$2,514.43"

In [5]:
unique_df = df.drop_duplicates(['SN'])
gender_df = pd.DataFrame(unique_df['Gender'].value_counts())
gender_df.rename(columns = {'Gender':'Total Count'},inplace=True)
gender_total = gender_df['Total Count'].sum()
gender_df['Percentage of Players'] = (gender_df['Total Count'] / gender_total * 100).apply('{:,.2f}'.format)
gender_df = gender_df[['Percentage of Players','Total Count']]
gender_df

                      Percentage of Players  Total Count
Male                                  80.88          495
Female                                17.65          108
Other / Non-Disclosed                  1.47            9

In [6]:
column_name = {'count':'Purchase Count','mean':'Average Purchase Price','sum':'Total Purchase Value'}
purchase_df = df.groupby(['Gender']).agg({'Gender':'count','Price':['mean','sum']}).rename(columns = column_name)
purchase_df.columns = purchase_df.columns.droplevel(0)
purchase_df['Normazlied Totals'] = (purchase_df['Total Purchase Value'] / gender_df['Total Count']).apply('${:,.2f}'.format)
purchase_df['Average Purchase Price'] = purchase_df['Average Purchase Price'].apply('${:,.2f}'.format)
purchase_df['Total Purchase Value'] = purchase_df['Total Purchase Value'].apply('${:,.2f}'.format)
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normazlied Totals
Gender,,,,
Female,149,$2.85,$424.29,$3.93
Male,697,$2.94,"$2,052.28",$4.15
Other / Non-Disclosed,12,$3.15,$37.86,$4.21

In [7]:
bins = [0,9,14,19,24,29,34,39,100]
group_name = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_df = pd.cut(df['Age'],bins,labels = group_name)
df['Age group'] = age_df
age_group_count = df['Age group'].value_counts()

In [8]:
age_df = df.groupby(['Age group']).agg({'SN':'count','Price':['mean','sum']}).rename(columns = column_name)
age_df.columns = age_df.columns.droplevel(0)
age_df['Normalized Totals'] = (age_df['Total Purchase Value'] / age_group_count).apply('${:,.2f}'.format)
age_df['Average Purchase Price'] = age_df['Average Purchase Price'].apply('${:,.2f}'.format)
age_df['Total Purchase Value'] = age_df['Total Purchase Value'].apply('${:,.2f}'.format)
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age group,,,,
<10,33,$2.95,$97.28,$2.95
10-14,38,$2.79,$105.91,$2.79
15-19,144,$2.89,$416.83,$2.89
20-24,372,$2.92,"$1,087.66",$2.92
25-29,134,$2.96,$396.44,$2.96
30-34,71,$2.97,$211.14,$2.97
35-39,48,$2.93,$140.77,$2.93
40+,18,$3.24,$58.40,$3.24

In [9]:
top_spender_df = df.groupby(['SN']).agg({'SN':'count','Price':['mean','sum']}).rename(columns = column_name)
top_spender_df.columns = top_spender_df.columns.droplevel(0)
top_spender_df = top_spender_df.nlargest(5,'Total Purchase Value')
top_spender_df['Average Purchase Price'] = top_spender_df['Average Purchase Price'].apply('${:,.2f}'.format)
top_spender_df['Total Purchase Value'] = top_spender_df['Total Purchase Value'].apply('${:,.2f}'.format)
top_spender_df

               Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66                 5                  $3.41               $17.06
Aerithllora36               4                  $3.77               $15.10
Saedue76                    4                  $3.39               $13.56
Sondim43                    4                  $3.25               $13.02
Mindimnya67                 4                  $3.18               $12.74

In [10]:
column_name = {'count':'Purchase Count','min':'Item Price','sum':'Total Purchase Value'}
popular_df = df.groupby(['Item ID','Item Name']).agg({'Item ID':'count','Price':['min','sum']}).rename(columns = column_name)
popular_df.columns = popular_df.columns.droplevel(0)
popular_df = popular_df.nlargest(5,'Purchase Count')
popular_df['Item Price'] = popular_df['Item Price'].apply('${:,.2f}'.format)
popular_df['Total Purchase Value'] = popular_df['Total Purchase Value'].apply('${:,.2f}'.format)
popular_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
84,Arcane Gem,12,$2.23,$29.34
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
31,Trickster,10,$2.07,$23.22
13,Serenity,9,$1.49,$13.41
34,Retribution Axe,9,$4.14,$37.26

In [11]:
column_name = {'count':'Purchase Count','min':'Item Price','sum':'Total Purchase Value'}
popular_df = df.groupby(['Item ID','Item Name']).agg({'Item ID':'count','Price':['min','sum']}).rename(columns = column_name)
popular_df.columns = popular_df.columns.droplevel(0)
popular_df = popular_df.nlargest(5,'Total Purchase Value')
popular_df['Item Price'] = popular_df['Item Price'].apply('${:,.2f}'.format)
popular_df['Total Purchase Value'] = popular_df['Total Purchase Value'].apply('${:,.2f}'.format)
popular_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
107,"Splitter, Foe Of Subtlety",9,$3.61,$33.03
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
84,Arcane Gem,12,$2.23,$29.34